@page

@model ImagaverseWeb.wwwroot.HomeModel
@{ 
    ViewData["Title"] = "Home";
}

<div class="PageContainer">
    <h1 class="Title">Imagaverse</h1>
    <p>
        Imagaverse is a Universe composed of Imagination and Creativity!<br/>
        Join Us, as we show you our amazing adventures in Imagaverse!
    </p>
    
</div>
