@page
@model ImagaverseWeb.Shared._SocialMediaModel
@{ 
    
}
<ul class="SocialMedia">
    <li class="Twitter">
        <a href="https://mobile.twitter.com/imagaverse">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li class="Facebook">
        <a href="https://www.facebook.com/Imagaverse/">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    <li class="Instagram">
        <a href="https://www.instagram.com/imagaverse/">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li class="YouTube">
        <a href="https://www.youtube.com/channel/UCi8GAd2J8wOe7C-vVLXg5_Q">
            <i class="fab fa-youtube"></i>
        </a>
    </li>
    <li class="GooglePlus">
        <a href="https://plus.google.com/106114664161955542119">
            <i class="fab fa-google-plus-g"></i>
        </a>
    </li>
    <li class="SoundCloud">
        <a href="https://soundcloud.com/user-148126880">
            <i class="fab fa-soundcloud"></i>
        </a>
    </li>
</ul>

